.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, rgb(36,36,223), rgb(11, 11, 241));
}
.calculator{
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: rgb(93, 93, 242);
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
form input[type="button"]:hover {
  background-color: rgb(246, 13, 169);
}
form .display{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 10px 0px;
}
form .display input{
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: rgb(78, 75, 75);
}
form input .equal{
  width: 123px;
}

